<form class = "viewbox" v-form = 'form'>
    <div class = "header">
        <div class = "wrap">
            <div class = "l">
                <a back class="button"><i class = "icon-back"></i></a>
            </div>
            <div class = "c">
                <em>{{title}}</em>
            </div>
            <div class = "r">
                
            </div>
        </div>
    </div>
    <div class = 'body'>
        <sep-scroll>
            <div class="layout margin-top-far">
                <ul>
                    <li>
                        <div class="item file button">
                            <sep-file v-model="form.model.portraitUrl"></sep-file>
                            <div class="media border-radius-100per large">
                                <img :src="form.model.portraitUrl" v-if='null !== form.model.portraitUrl'/>
                                <i class="icon-my" v-else></i>
                            </div>
                            <div class="content">
                                
                            </div>
                            <div class="other">
                                修改头像
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item field">
                            <div class="content">
                                <em class="name">
                                    昵称
                                </em>
                                <div class="edit">
                                    <input type="text" placeholder="请输入昵称" v-model = 'form.model.nickname' v-rules = '{required : true}' data-required-msg = '请输入昵称' />
                                </div>
                            </div>
                            <div class="other">

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item field">
                            <div class="content">
                                <em class="name">
                                    姓名
                                </em>
                                <div class="edit">
                                    <input type="text" placeholder="请输入姓名" v-model = 'form.model.memberName' v-rules = '{required : true}' data-required-msg = '请输入姓名'  />
                                </div>
                            </div>
                            <div class="other">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item field">
                            <div class="content">
                                <em class="name">
                                    身份证号
                                </em>
                                <div class="edit">
                                    <input type="text" placeholder="请输入身份证号" v-model = 'form.model.idcn' v-rules = '{required : true}' data-required-msg = '请输入身份证号' data-tel-msg = '身份证号码无效' />
                                </div>
                            </div>
                            <div class="other">

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item field">
                            <div class="content">
                                <em class="name">
                                    手机号
                                </em>
                                <div class="edit">
                                    <input id="tel" type="tel" placeholder="请输入手机号"  v-model = 'form.model.mobile' v-rules = '{required : true, tel : true}' data-required-msg = '请输入手机号' data-tel-msg = '手机号格式无效' readonly="" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="other">

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class = 'padding-far'>
                <sep-button v-click = 'form.m_submit' class = 'red submit border-radius-near' text = '保存资料' wtext = '保存中'></sep-button>
            </div>
            <section slot = "bottom">
                <sep-dev></sep-dev>
            </section>
        </sep-scroll>
    </div>
</form>