<form class="viewbox" v-form='form'>
	<div class="header">
		<div class="wrap">
			<div class="l">
				<a back class="button"><i class="icon-back"></i></a>
			</div>
			<div class="c">
				<em>{{title}}</em>
			</div>
			<div class="r">

			</div>
		</div>
	</div>
	<div class='body'>
		<sep-scroll>
			<div class="layout">
				<ul>
					<li>
						<div class="item field">
							<div class="content">
								<em class="name">
                                    旧密码
                                </em>
								<div class="edit">
									<input :type="type" placeholder="请输入旧密码" v-rules='{required : true, minlength : 6}' data-required-msg='请上输入旧密码' v-model='form.model.oldPwd' data-minlength-msg='密码至少6位数' />
								</div>
							</div>
							<div class="other">

							</div>
						</div>
					</li>
					<li>
						<div class="item field">
							<div class="content">
								<em class="name">
                                    新密码
                                </em>
								<div class="edit">
									<input :type="type" placeholder="请输入新密码" v-rules='{required : true, minlength : 6}' data-required-msg='请输入新密码' v-model='form.model.newPwd1' data-minlength-msg='密码至少6位数' />
								</div>
							</div>
							<div class="other">

							</div>
						</div>
					</li>
					<li>
						<div class="item field">
							<div class="content">
								<em class="name">
                                    确认新密码
                                </em>
								<div class="edit">
									<input :type="type" placeholder="请确认新密码" v-rules='{required : true, minlength : 6}' data-required-msg='请输入确认密码' v-model='form.model.newPwd2' data-minlength-msg='密码至少6位数' />
								</div>
							</div>
							<div class="other">

							</div>
						</div>
					</li>
                    <li hidden="hidden">
                        <div class="item field">
                            <div class="content">
                                <em class="name">
                                    手机号
                                </em>
                                <div class="edit">
                                    <input type="tel" placeholder="请输入手机号"  v-model = 'form.model.mobile' readonly="" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="other">

                            </div>
                        </div>
                    </li>
				</ul>
			</div>
			<div class="layout">
				<ul>
					<li>
						<div class="item field">
							<div class="content">
								<em class="name">
                                    显示密码
                                </em>
								<div class="edit">
									<div class="button switch">
										<input type="checkbox" name="switch" v-model='checked'>
										<i>
                                        </i>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class='padding-far amend'>
				<sep-button v-click='form.m_submit' class='red submit border-radius-near' text='确认修改' wtext='确认修改...'></sep-button>
			</div>
			<section slot="bottom">
				<sep-dev></sep-dev>
			</section>
		</sep-scroll>
	</div>
</form>