.share-erweima .image {
    width: 100%;  
    position: absolute;  
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 200 ;
}

.share-erweima .image img{
    width: 80%;
    height: auto; 
    margin: 0 auto ;
    position: absolute;  
    top: 20%; 
    left: 0; 
    bottom: 0; 
    right: 0;
    z-index: 300;
}
